.wrapper {
	display: flex;
	justify-content: space-between;
	gap: 30px;

	img {
		width: 492px;
		height: 829px;
		border-radius: 30px 30px 30px 0px;

		background: url();
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 42px;
		padding: 41px 0 60px;

		.block_text {
			display: flex;
			flex-direction: column;
			gap: 12px;

			h2 {
				color: rgb(33, 33, 33);
				font-family: 'Roboto';
				font-size: 18px;
				font-weight: 700;
				line-height: 120%;
				letter-spacing: 0px;
				text-align: left;
				text-transform: uppercase;
			}
			p {
				color: rgb(33, 33, 33);
				font-family: 'Roboto';
				font-size: 18px;
				font-weight: 400;
				line-height: 120%;
				letter-spacing: 0px;
				text-align: left;
			}
		}
	}
}

.timeline {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 149px;
}

.container_list {
	padding: 0 0 0 30px;
	position: relative;
	animation: movedown 1s linear forwards;
	opacity: 0;

	.number {
		position: absolute;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		left: -20px;
		z-index: 10px;
		background: rgb(232, 195, 47);
		display: flex;
		justify-content: center;
		align-items: center;
		color: rgb(33, 33, 33);
		font-family: 'Roboto';
		font-size: 18px;
		font-weight: 500;
		line-height: 26px;
		letter-spacing: 0px;
		text-align: center;
	}
}

@keyframes movedown {
	0% {
		opacity: 1;
		transform: translateY(-30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

.container_list:nth-child(1) {
	animation-delay: 0s;
}
.container_list:nth-child(2) {
	animation-delay: 1s;
}
.container_list:nth-child(3) {
	animation-delay: 2s;
}

.text_box {
	background-color: #fff;
	position: relative;
	border-radius: 6px;
	font-size: 15px;
}

.right_container {
	left: 3%;
}

.timeline::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	border-radius: 50px;
	background: rgb(98, 98, 98);
	top: 0;
	left: 3%;
	z-index: -1;
	animation: moveline 5s linear forwards;
}

@keyframes moveline {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}

.text_box {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 13px;

	h2 {
		color: rgb(33, 33, 33);
		font-family: 'Roboto';
		font-size: 14px;
		font-weight: 700;
		line-height: 120%;
		letter-spacing: 0px;
		text-align: left;
		text-transform: uppercase;
	}
	p {
		color: rgb(33, 33, 33);
		font-family: 'Roboto';
		font-size: 16px;
		font-weight: 400;
		line-height: 120%;
		letter-spacing: 0px;
		text-align: left;
	}
}
