.header_nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100px;

	.navbar {
		display: flex;
		align-items: center;
	}

	.navbar ul {
		display: flex;
		align-items: center;
		margin-top: 20px;
		gap: 32px;

		li {
			display: flex;
			align-items: center;
			gap: 10px;
			position: relative;

			color: rgb(33, 33, 33);
			font-family: Roboto;
			font-size: 20px;
			font-weight: 400;
			line-height: 120%;
			letter-spacing: 0%;
			text-align: left;
		}

		.about_us_li {
			display: flex;
			height: 37px;
			position: relative;

			ul li {
				padding: 8.5px 6px;
			}

			ul .line::before {
				content: '';
				position: absolute;
				bottom: 0;
				width: 78%;
				height: 1px;
				background-color: rgb(255, 255, 255);
			}
		}

		.about_us_li:hover {
			// display: flex;
			justify-content: center;
			border-radius: 5px 5px 0 0;
			padding: 0 22.5px;
			position: relative;

			/* akcent */
			background: rgb(232, 195, 47);

			span {
				position: absolute;
				bottom: 0;
				width: 50%;
				margin: 0 auto;
				height: 1px;
				border-bottom: 1px solid rgb(255, 255, 255);
			}
		}
		//

		.young_li {
			display: flex;
			height: 37px;
			position: relative;

			ul li {
				padding: 8.5px 6px;
			}

			ul .line::before {
				content: '';
				position: absolute;
				bottom: 0;
				width: 69%;
				height: 1px;
				background-color: rgb(255, 255, 255);
			}
		}

		.young_li:hover {
			justify-content: center;
			border-radius: 5px 5px 0 0;
			padding: 0 22.5px;
			position: relative;

			background: rgb(232, 195, 47);

			span {
				position: absolute;
				bottom: 0;
				width: 74%;
				margin: 0 auto;
				height: 1px;
				border-bottom: 1px solid rgb(255, 255, 255);
			}
		}

		li:hover > ul {
			display: initial;
		}

		li:hover > .icon_arrow {
			display: none;
		}

		li ul {
			position: absolute;
			top: 17px;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			width: 100%;
			// padding: 6px;
			// gap: 16px;
			background: rgb(232, 195, 47);

			border-radius: 0 0 5px 5px;
			display: none;

			li {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				color: rgb(33, 33, 33);
				font-family: Roboto;
				font-size: 20px;
				font-weight: 400;
				line-height: 120%;
				letter-spacing: 0%;
				text-align: left;
			}
		}
	}

	.logo {
		width: 278px;
		height: 101px;
		transition: 0.5s;
	}

	.logo:hover {
		transform: scale(1.1);
	}
}