.notFound {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .title {
        color: rgb(33, 33, 33);
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 700;
        line-height: 139.4%;
        letter-spacing: 2%;
        text-align: center;
        width: 100%;
    }

    @media (max-width:997px) {
        .title {
            font-size: 20px;
        }
    }

    @media (max-width:767px) {
        .title {
            font-size: 16px;
        }
    }
}